<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">
 
<body>
<h1>관리자 주문 고객들 관리</h1>
 
<table class="table">
  <thead>
    <tr>
	  <th scope="col">NO</th>
      <th scope="col" >이름</th>
      <th scope="col">가격</th>
      <th scope="col">카드승인 번호</th>
      <th scope="col">구매일</th>
      
    </tr>
  </thead>
  <tbody>
<th:block th:each="list:${lists}">
    <tr>
      <th scope="row" >[[${list.id}]]</th>
      <td> <a th:href="@{|/admin/deliveryreaddetail?id=${list.id}|}">[[${list.username}]]님 회원님</a></td>
      <td>[[${list.total}]] </td>
      <td>[[${list.uid}]]</td>
      <td>[[${#temporals.format(list.createDate, 'yyyy년 MM월 dd일 HH:mm')}]]</td>
      <td></td>
    </tr>
   </th:block>
  </tbody>
</table>

</body>
</html>