<html  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
	  layout:decorate="~{fragments/layout1}">
	
	<div layout:fragment="content">
 <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		
	<!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <div class="we-help-section">
      <div class="container">
				<div class="row justify-content-between">
		  
        <div class="row flex-center">
          <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">

            <div class="text-center">
              <h1 class="text-1000" style="color: black;">로그인</h1>
              <p class="text-700">로그인 해주세요.</p>
            </div>
            
			<a href="javascript:kakaoLogin()"><img src="images/kakao.png"   class="w-100 mb-3"></img></a> 
			<div id="naver_id_login"></div>
			<br>
          
		<form th:action="@{/login}" th:object="${member}" method="post">
           <div class="mb-3 text-start">
              <h4 class="form-label" for="email" style="color: black;">아이디 <span class="fas fa-user text-900 fs--1 form-icon" style="color: green;"></span></h4>
              <div class="form-icon-container">
                <input class="form-control form-icon-input" name="username" type="email" placeholder="name@example.com" />
              </div>
            </div>
            <div class="mb-3 text-start">
              <h4 class="form-label" for="password" style="color: black;">암호 <span class="fas fa-key text-900 fs--1 form-icon" style="color: green;"></span></h4>
              <div class="form-icon-container">
                <input class="form-control form-icon-input" name="password" type="password" placeholder="Password" />
              </div>
            </div>
           <br>
            <button class="btn btn-primary w-100 mb-3">로그인</button>
                  </form>

             
			<a th:href="@{|/member/create|}" class="btn btn-phoenix-primary w-100">
				<span class="fa-solid fa-heart me-2"></span>회원 가입</a>
	
            
          </div>
          <div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="images/img-grid-1.jpg" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="images/img-grid-2.jpg" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="images/img-grid-3.jpg" alt="Untree.co"></div>
						</div>
					</div>
        </div>
        
     </div>
     </div>
	</div>
		
		<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>

//발급 받은 키
Kakao.init("9eda72310d10e70186b843a0809cac6c");

function kakaoLogin() {
	window.Kakao.Auth.login({
		// 개발자 사이트에서 체크한 항목들과 반드시 일치해야 한다. 
		scope:'profile_nickname, account_email, gender',
		success: function (authObj) {window.Kakao.API.request({url:'/v2/user/me',
			success:res => {const kakaoAccount = res.kakao_account;
				location.href='/logincheck?email=' + kakaoAccount.email;}
		});
	}
});
}

</script>

<script type="text/javascript">
				  	var naver_id_login = new naver_id_login("8S_pPtCdskNgUql1ARqx", "http://localhost:8080/naverlogin");
				  	var state = naver_id_login.getUniqState();
 					//단추 설정
				  	naver_id_login.setButton("green", 3,63);
				  	naver_id_login.setDomain("http://localhost:8080");
				  	naver_id_login.setState(state);
					//별도의 팝업창 띄우지 않고 현재 창에서 로그인 처리
				  	//naver_id_login.setPopup();
				  	naver_id_login.init_naver_id_login();
				  </script>
	</div>		
</html>