<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">

	[[${product.id}]]
	<br>
	[[${product.name}]]
	<br>
	<img class="img-fluid" th:src="@{|http://chandool.cdn1.cafe24.com/${product.pimg}|}" alt="" />
	<br>
	[[${product.about}]]
	<br>
	[[${product.productid}]]
	<br>
	[[${product.price}]]
	<br>


	<div class="row">
		<div class="col-6 col-sm-2 mb-2">
			<a href="/readlist" class="btn btn-phoenix-success w-100">
				<span class="fa-regular fa-calendar-plus me-2"></span>목록
			</a>
		</div>
		<div class="col-6 col-sm-2 mb-2">
			<a href="/update?bno=${customer.cno}" class="btn btn-phoenix-primary w-100">
				<span class="fa-solid fa-heart me-2"></span>수정
			</a>
		</div>
		<div class="col-6 col-sm-2 mb-2">
			<form th:action="@{|/item/create?id=${product.id}|}" method="post">
				<input type="hidden" name="productid" th:value="${product.productid}">
				<input type="hidden" name="name" th:value="${product.name}">
				<input type="hidden" name="price" th:value="${product.price}">
				<button type="submit" class="btn btn-phoenix-primary w-100">
					<span class="fa-solid fa-shopping-cart me-2"></span>장바구니 담기
				</button>
			</form>
		</div>
		<div class="col-6 col-sm-2 mb-2">
			<a th:href="@{|/chat/readdetail|}" class="btn btn-phoenix-primary w-100">
				<span class="fa-solid fa-heart me-2"></span>관리자와의 대화
			</a>
		</div>
		<div class="col-6 col-sm-2 mb-2">
			<a th:href="@{|/product/delete?id=${product.id}|}" class="btn btn-phoenix-danger w-100">
				<span class="fa-solid fa-share-nodes me-2"></span>삭제
			</a>
		</div>
	</div>

</div>
</html>