<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">
	 <!-- Style CSS -->
    <link rel="stylesheet" href="../css1/style.css">
	<!-- Demo CSS (No need to include it into your project) -->
	<link rel="stylesheet" href="../css1/demo.css">
  
	
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script>
IMP.init('imp53620510') // 예: 'imp00000000a'



function requestPay() {
	
	  var  total = $("#totalsum").val();
	
	
	
    IMP.request_pay({
      pg: "danal_tpay",
      pay_method: "card",
      merchant_uid: "ORD"+uuid(),   // 주문번호
      name: "결제",
      amount: total,                        // 숫자 타입
      buyer_email:"[[${user.username}]]",
      buyer_name: "[[${user.name}]]",
      buyer_tel: "[[${user.phone}]]"
    
    }, function (rsp) { // callback
      if(rsp.success){//결제 성공케이스
		  //alert("결제 성공")
		  //컨트롤러로 성공시 성공 ID 값 전달
		  
		  location.href='/delivery/payment?uid='+rsp.uid+'&total='+total;
	  }else{ //실패 케이스
		 alert("결제 실패") 
	  }
    });
  }
  </script>
  <script>
	  function uuid() {
    return 'xxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
    });
}
console.log(uuid())
  </script>
	

  
      
 <main>
     <!-- Start DEMO HTML (Use the following code into your project)-->
<header id="site-header">
		<div class="container">
			<h1>장바구니 </h1>
		</div>
	</header>

	<div class="container">
 <th:block th:each="list:${list.itemList}">
		<section id="cart"> 
			<article class="product">
				<header>
					<img th:src="@{|https://youjinbucket.s3.ap-northeast-2.amazonaws.com/${product.pimg}|}" alt="Gamming Mouse">
				</header>
           
				<div class="content">

					<h1><a th:text="${list.name}"></a></h1>

					<div title="You have selected this product to be shipped in the color yellow." style="top: 0" class="color yellow"><a th:href="@{|/item/delete?id=${list.id}|}">X</a></td></div>
				</div>

				<footer class="content">
					<span class="qt-minus">-</span>
					<span class="qt">2</span>
					<span class="qt-plus">+</span>

					<h2 class="full-price" th:text="${list.price}">
						
					</h2>

					<h2 class="price" th:text="${list.price}">

					</h2>
				</footer>
			</article>
		</section>
</th:block>
	</div>

	<footer id="site-footer">
		<div class="container clearfix">

			<div class="left">
				<h2 class="subtotal">선택 금액: <span>163.96</span>원</h2>
				<h3 class="tax">부가세 (10%): <span>10</span>원</h3>
				<h3 class="shipping">배송비: <span>0</span>원</h3>
			</div>

			<div class="right">
				<h1 class="total">총 주문 금액: <span>[[${total}]]</span>원</h1>
				<input type="hidden" name="totalsum" id="totalsum" value="">
				<button class="btn btn-black btn-lg py-3 btn-block" onclick="requestPay()">결제 하기</button>
			</div>

		</div>
	</footer>
     <!-- END EDMO HTML (Happy Coding!)-->
 </main>
 
      
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
		var check = false;

function changeVal(el) {
  var qt = parseFloat(el.parent().children(".qt").html());
  var price = parseFloat(el.parent().children(".price").html());
  var eq = Math.round(price * qt * 100) / 100;
  
  el.parent().children(".full-price").html( eq + "€" );
  
  changeTotal();			
}

function changeTotal() {
  
  var price = 0;
  
  $(".full-price").each(function(index){
    price += parseFloat($(".full-price").eq(index).html());
  });
  
  price = Math.round(price * 100) / 100;
  var tax = Math.round(price * 0.1 * 100) / 100
  var shipping = parseFloat($(".shipping span").html());
  var fullPrice = Math.round((price + tax + shipping) *100) / 100;
  
  if(price == 0) {
    fullPrice = 0;
  }
  
  $(".subtotal span").html(price);
  $(".tax span").html(tax);
  $(".total span").html(fullPrice);
  $('input[name=totalsum]').attr('value', fullPrice);//수정용 입력 칸에 넣기
  
}

$(document).ready(function(){
  
  $(".remove").click(function(){
    var el = $(this);
    el.parent().parent().addClass("removed");
    window.setTimeout(
      function(){
        el.parent().parent().slideUp('fast', function() { 
          el.parent().parent().remove(); 
          if($(".product").length == 0) {
            if(check) {
              $("#cart").html("<h1>The shop does not function, yet!</h1><p>If you liked my shopping cart, please take a second and heart this Pen on <a href='https://codepen.io/ziga-miklic/pen/xhpob'>CodePen</a>. Thank you!</p>");
            } else {
              $("#cart").html("<h1>No products!</h1>");
            }
          }
          changeTotal(); 
        });
      }, 200);
  });
  
  $(".qt-plus").click(function(){
    $(this).parent().children(".qt").html(parseInt($(this).parent().children(".qt").html()) + 1);
    
    $(this).parent().children(".full-price").addClass("added");
    
    var el = $(this);
    window.setTimeout(function(){el.parent().children(".full-price").removeClass("added"); changeVal(el);}, 150);
  });
  
  $(".qt-minus").click(function(){
    
    child = $(this).parent().children(".qt");
    
    if(parseInt(child.html()) > 1) {
      child.html(parseInt(child.html()) - 1);
    }
    
    $(this).parent().children(".full-price").addClass("minused");
    
    var el = $(this);
    window.setTimeout(function(){el.parent().children(".full-price").removeClass("minused"); changeVal(el);}, 150);
  });
  
  window.setTimeout(function(){$(".is-open").removeClass("is-open")}, 1200);
  
  $(".btn").click(function(){
    check = true;
    $(".remove").click();
  });
});
	</script> 
      
  </body>
</html>

</div>

