<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
	  layout:decorate="~{fragments/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
  <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../../vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../../vendors/simplebar/simplebar.min.js"></script>
    <script src="../../assets/js/config.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../../vendors/glightbox/glightbox.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="../../vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="../../assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="../../assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="../../assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="../../assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
</head>
<body>
<div layout:fragment="content">

 <div class="content">
        <div class="pb-9">
          <div class="card mb-5">
            <div class="card-header hover-actions-trigger d-flex justify-content-center align-items-end position-relative mb-7 mb-xxl-0" style="min-height: 214px; ">
              <div class="bg-holder rounded-top" style="background-image:url(../../assets/img/generic/cover-photo.png);">
				
              </div>

              <!--/.bg-holder-->
              <div class="hoverbox feed-profile" style="width: 150px; height: 150px"> 
                <div class="position-relative bg-400 rounded-circle cursor-pointer d-flex flex-center mb-xxl-7">                      
                  <div class="avatar avatar-5xl"><img class="rounded-circle rounded-circle bg-white img-thumbnail shadow-sm" th:src="@{|https://youjinbucket.s3.ap-northeast-2.amazonaws.com/${member.mimg}|}" alt="" /></div>
                  <label class="w-100 h-100 position-absolute z-index-1" for="upload-porfile-picture"></label>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row justify-content-xl-between">
                <div class="col-auto">
                  <div class="d-flex flex-wrap mb-3 align-items-center">
                    <h2 class="me-2">아이디 : </h2><span class="fw-semi-bold fs-1 text-1100">[[${member.username}]]</span>
                  </div>
                  <div class="mb-5">
                   <h2 class="me-2">전화번호 : </h2><span class="fw-semi-bold fs-1 text-1100"> [[${member.phone}]] </span><br><br>
                   <h2 class="me-2">이름 : </h2><span class="fw-semi-bold fs-1 text-1100"> [[${member.name}]] </span>
                  </div>
                  <p class="fs-2 text-800">“Whenever you find yourself on the side of the majority, it is time to pause and reflect.”</p>
                </div>
                <div class="col-auto">
                  <div class="row g-2">
                    <div class="col-auto order-xxl-2">
                      <a href="/delivery/readlist" class="btn btn-primary lh-1"><span class="fa-solid fa-user-plus me-2"></span>배송 목록</a>
                    </div>
                    <div class="col-auto order-xxl-1">
                      <a href="/logout" class="btn btn-phoenix-danger lh-1"><span class="fa-solid fa-message me-2"></span>로그아웃</a>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
 
 
</div>
</div> 
 

	
	
	
	
	
	
	
	
	
	
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../../vendors/popper/popper.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../vendors/anchorjs/anchor.min.js"></script>
    <script src="../../vendors/is/is.min.js"></script>
    <script src="../../vendors/fontawesome/all.min.js"></script>
    <script src="../../vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../../vendors/list.js/list.min.js"></script>
    <script src="../../vendors/feather-icons/feather.min.js"></script>
    <script src="../../vendors/dayjs/dayjs.min.js"></script>
    <script src="../../vendors/glightbox/glightbox.min.js"> </script>
    <script src="../../assets/js/phoenix.js"></script>	
	
</div>
</body>

</html>